#hpt1{
    position: absolute;
    top: 10px;
    left: 0;
    width: 200px;
    height: 100px; 
}

#hpt2{
    position: absolute;
    top: 10px;
    right: 0;
    width: 200px;
    height: 100px;
}

img {
    display: block;
    margin: 0 auto;
}

.center{
    text-align: center;
    margin: auto;
}

#button1, #button2{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}